<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/tm-icon-180x180.png">
  <link href="./static/favicon.ico" rel="icon">

  <title>Techno Mindz</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('assets/images/img-01.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Techno Mindz</h1>
      <h2>Gallery</h2>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.instagram.com/techno_mindz_official/" title="">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/TechnoMindzYt" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/ravi-nandan-969bbb24a" title="">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./videos.html" title="">03 : Techno Mindz</a></li>
          <li><a href="./gallery.html" title="">04 : Gallery</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>
</header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-4">
                  <img src="./static/assets/images/img-02.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Potheri</h3>
                  <p>2022</p>
                </div>
                <div class="col-md-4">
                  <img src="./static/assets/images/img-03.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Pic with Brother 😎</h3>
                  <p>2021</p>
                </div>
                <div class="col-md-4">
                  <img src="./static/assets/images/img-04.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Beasant Nagar</h3>
                  <p>2022</p>
                </div>
              </div>
            </div>
          </div>
  
 <div class="container">
   <div class="row">
     <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-4">
                  <img src="./static/assets/images/img-14.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Pic With Kiran Bedi Mam</h3>
                  <p>2022</p>
                </div>
                <div class="col-md-4">
                  <img src="./static/assets/images/img-15.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Cycling</h3>
                  <p>2022</p>
                </div>
                <div class="col-md-4">
                  <img src="./static/assets/images/img-16.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Techno Mindz</h3>
                  <p>2021</p>
                </div>
              </div>
            </div>
          </div>

 <div class="container">
   <div class="row">
     <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-4">
                  <img src="./static/assets/images/img-11.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Scout Camp</h3>
                  <p>2022</p>
                </div>
                <div class="col-md-4">
                  <img src="./static/assets/images/img-05.jpg" class="img-responsive" alt="">
                  <h3 class="h5">Coonoor</h3>
                  <p>2022</p>
                </div>
              </div>
            </div>
          </div>

        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/TechnoMindzYt" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@TechnoMindzYt</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/ravi-nandan-969bbb24a" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Ravinandan</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.instagram.com/techno_mindz_official/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-instagram"></i></span>techno_mindz_official</a></p>
              </div>
            </div>
          </div>
        </div>
